.shelves-main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f5f7fa;
  overflow: hidden;
}
.shelves-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
}
.shelves-left-container {
  display: flex;
  flex-direction: column;
  width: 256px;
  max-height: 780px;
  padding-left: 3%;
  border-radius: 8px;
  background-color: #ffffff;
}
@media screen and (max-width: 768px) {
  .shelves-left-container {
    display: none;
  }
}
.shelves-right-container {
  width: 80%;
  min-height: 780px;
}
@media screen and (max-width: 768px) {
  .shelves-right-container {
    width: 100%;
  }
}
.bookshelves-success-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 780px;
  padding-left: 5%;
}
@media screen and (max-width: 768px) {
  .bookshelves-success-container {
    width: 100%;
    padding-left: 0%;
    padding-top: 3%;
  }
}
.bookshelves-success-sub-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 5%;
}
@media screen and (max-width: 768px) {
  .bookshelves-success-sub-container {
    display: flex;
    flex-direction: column;
    padding-left: 0%;
  }
}
.books-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 0px;
}

.books-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0px;
  margin-top: 0px;
}
.search-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.bookshelves-name {
  height: 22px;
  top: 144px;
  left: 438px;
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #334155;
}
@media screen and (max-width: 768px) {
  .bookshelves-name {
    display: none;
  }
}
.bookshelves-heading-mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .bookshelves-heading-mobile {
    display: block;
    height: 25px;
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: #334155;
  }
}

.search-input {
  width: 248px;
  height: 36px;
  border-radius: 3px 0px 0px 3px;
  border: 1px solid #334155;
  border-right: none;
  padding-left: 10px;
  padding-right: 0px;
}
@media screen and (max-width: 768px) {
  .search-input {
    min-width: 80%;
  }
}
.search-icon {
  width: 52px;
  height: 36px;
  padding: 7px;
  border-radius: 0px 3px 3px 0px;
  background-color: #edeff1;
  border: 1px solid #334155;
  border-left: none;
  align-self: center;
  margin-top: 4px;
}
@media screen and (max-width: 768px) {
  .search-icon {
    min-width: 20%;
  }
}
.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 750px;
}
.not-found-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 750px;
}
.not-found-view-image {
  width: 476px;
  height: 327px;
  top: 310px;
  left: 682px;
}
.failure-view-image {
  width: 469.000244140625px;
  height: 230.00112915039062px;
  top: 366px;
  left: 689px;
}
.not-found-description {
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #334155;
}
.failure-description {
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #334155;
}
.try-again-btn {
  width: Hug (112px);
  height: Hug (48px);
  padding: 12px 24px 12px 24px;
  border-radius: 12px;
  gap: 8px;
  background: #0284c7;
  font-family: 'Inter';
  color: #ffffff;
  border: none;
  outline: none;
}
.search-btn {
  background-color: transparent;
  border: none;
  padding: 0px;
  align-self: center;
}
.nav-items-mobile,
.nav-mobile-mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav-items-mobile,
  .nav-mobile-mobile {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding-top: 3%;
  }
}

.active_text-mobile {
  min-width: 62px;
  height: 30px;
  border-radius: 25px;
  border: 1px;
  text-align: center;
  background-color: #0284c7;
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
}
.normal_text-mobile {
  min-width: 62px;
  height: 30px;
  border-radius: 25px;
  border: 1px;
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 500;
  color: #0284c7;
  text-align: center;
  background-color: transparent;
  border: 2px solid #0284c7;
}
